#-- Documentation --
/doc/_build/

#-- Python --
*.pyc

#-- OSX system files --
.DS_Store

#-- vim --
*.swp

#-- jupyter notebooks --
.ipynb_checkpoints/

#-- MITgcm verification --
/verification/*/tr_run.*
/verification/*/run/*
